body{ 
    background-color: hsl(233, 47%, 7%);
    padding-top: 10%;
    height:100%;
}

.card{
    width:1080px;
    height:450px;
    background-color: hsl(244, 38%, 16%);
    display:flex;
    flex-direction: row;
    margin:auto;
    flex-shrink: inherit;
    border-radius: 10px;
}

.card-left{
    width:500px;
    margin-right: 20px;
    padding:40px;
}

.main-head{ 
    font-family: 'Inter', sans-serif;
    font-weight:bold;
    
    color:hsl(0, 0%, 100%);
    font-size:35px;
}

.diff-head{ 
    color:hsl(277, 64%, 61%);
}

.description{ 
    font-family: 'Lexend Deca', sans-serif;
    color:hsla(0, 0%, 100%, 0.75);
}
.features{ 
    display:flex; 
    flex-direction: row;
}

.final-topic{
    color:hsla(0, 0%, 100%, 0.6);
    font-family: 'Inter', sans-serif;
    font-weight:bold;
    font-size:28px;
    margin-top: 50px;
}

.final-text{
    padding-right:50px;
    font-family: 'Lexend Deca', sans-serif;
    margin-top:-10px;
    color:hsla(0, 0%, 100%, 0.75);

}
.card-right{ 
    
    
}

img{ 
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: hsl(277, 64%, 61%);
    height:450px;

}
